.container { /* a container :)*/
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}
#logo { /* for the gizmo wrench */
    float: left;
    font-size: 1.5em;
}

nav { /* the top navbar */
    float: right;
}

.nav-links { /* links for the navbar */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li { /* for the navlinks */
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a { /* for the navlinks */
    color: blue;
   /* text-decoration: none; */
    padding: 10px 15px;
    display: inline-block;
    /*transition: background-color 0.3s;*/
}

/* on hover, change bg to a nice color */
/*.nav-links li a:hover { 
    background-color: #393552;
}*/ 

.content { /* main page */
    padding: 50px 265px;
    text-align: left;
}

.bio {
    padding: 50px 265px;
    clear: right;
    text-align: right;
}

.main-links li { /* links that are styled like nav links, but on the main page*/
    display: inline-block;
    margin-left: 0px;
}

.main-links { /* see above */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-links li a { /* more main link customization */
    color:#e0def4;	
    background-color: #2a273f;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

/*.main-links li a:hover { 
    background-color: #393552;
}*/